<div id="app">   

    <div class="row">
        <form>
            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="form-group">
                    <label for="region">Region</label>
                    <select class="form-control" id="region" name="selectedRegion" v-model="selectedRegion">
                        <option v-for="region in availableRegions" v-bind:value="region">{{region}}</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="form-group">
                    <label for="selectedVCores">vCores</label>
                    <!-- <input type="range" id="minimumVCore" min="0" max="64" step="2" value="0" /> -->
                    
                    <vue-slider id="selectedVCores" v-model="VCoreValues" :piecewise="true" :min="0" :max="64" :interval="2" tooltip-dir="bottom" tooltip="always"></vue-slider>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="form-group">
                    <label for="">Minimum Memory (GB)</label>
                    <!-- <input type="range" id="minimumMemory" min="0" max="512" value="0" /> -->
                    <vue-slider id="selectedMemory" v-model="VMemoryValues" :piecewise="true" :min="0" :max="512" :interval="32" tooltip-dir="bottom" tooltip="always"></vue-slider>
                </div>
            </div>

        </form>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-xs-12">
            <table id="table" class="table display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Friendly Name</th>
                        <th>Tier</th>
                        <th>API Name</th>
                        <th>vCores</th>
                        <th>Memory (GiB)</th>
                        <th>Max NICs</th>
                        <th>GPUs</th>
                        <th>Maximum data disk count</th>
                        <th>OS Disk Size (GiB)</th>
                        <th>Temp storage Size (GiB)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="vmSize in computedVmSizes" v-show="vmSizes.length > 0">
                        <td>{{vmSize.friendlyName}}</td>
                        <td>{{vmSize.tier}}</td>
                        <td>{{vmSize.apiName}}</td>
                        <td>{{vmSize.numberOfCores}}</td>
                        <td style="text-align: right">{{vmSize.memoryInMb | formatByteSizes}}</td>
                        <td>{{vmSize.maxNICs}}</td>
                        <td>{{vmSize.gpuCount}}</td>
                        <td>{{vmSize.maxDataDiskCount}}</td>
                        <td>{{vmSize.osDiskSizeInMb | formatByteSizes}}</td>
                        <td>{{vmSize.resourceDiskSizeInMb | formatByteSizes}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Friendly Name</th>
                        <th>Tier</th>
                        <th>API Name</th>
                        <th>vCores</th>
                        <th>Memory (GiB)</th>
                        <th>Max NICs</th>
                        <th>GPUs</th>
                        <th>Maximum data disk count</th>
                        <th>OS Disk Size (GiB)</th>
                        <th>Temp storage Size (GiB)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        
    </script>
}